<component name="ArtifactManager">
  <artifact type="war" name="springSecurity_01:war">
    <output-path>$PROJECT_DIR$/springSecurity_01/target</output-path>
    <root id="archive" name="springSecurity_01-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springSecurity_01:war exploded" />
    </root>
  </artifact>
</component>